# Titanic Análise

## Premissa Inicial

O objetivo desse estudo é de apartir de dados estatísticos da catástrofe do Titanic, seja estudado se existiam algum padrão de pessoas as quais eram mais propícias a sobreviver e se sim, quais padrões são esses.

In [1]:
import pandas as pd

In [2]:
import os
for dirname, _, filenames in os.walk('Data'):
    for filename in filenames:
        print(os.path.join(dirname,filename))

Data\gender_submission.csv
Data\test.csv
Data\train.csv

Código que chama o sistema operacional e a partir do método walk() trás o caminho de todos os arquivos
na pasta selecionada. Nesse caso colocamos os parametros como variaveis "dirname" e "filename" que vão armazenar
respectivamente o caminho e nome dos arquivos já o "_" significa que não iremos utilizar nenhum valor
de subdiretórios e etc.

In [3]:
train_data = pd.read_csv('Data/train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
test_data = pd.read_csv('Data/test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
women =  train_data.loc[train_data.Sex == 'female']['Survived']
rate_women = sum(women)/len(women)

print("% of women who survivied:", rate_women)

% of women who survivied: 0.7420382165605095

O método 'loc()' está servindo para localizar os padrões de acordo com um valor boolean dado
nesse caso sendo os valores 'male' e 'female'.

O que está sendo avaliado é a partir da condicional que é colocada pela expressão "train_data.Sex == 'female'"
ou seja, essa condição verifica toda a matriz e gera uma série booleana com os valores sendo 'True' se a condicioinal
for verdadeira, ou 'false'.

já a parte do ['Survived'] ele filtra todos as linhas apenas da coluna survived.

 já o código "rate_women = sum(women)/len(women)" está tirando a média dos valores armazenados da variável 'women'

In [ ]:
men = train_data.loc[train_data.Sex == 'male']['Survived']
rate_men = sum(men)/len(men)   

print("% of men who survived: ", rate_men)

% of men who survived:  0.18890814558058924

## Machine Learning

A partir dessa análise conseguimos ver que houve um indicador de 75% das mulheres sobreviveram enquanto apenas 19% dos homens viveram para contar história, é notório o peso do indicador de genero, com isso assumir que todas as mulheres sobreviveram e os homens morreram não seria um chute tão longe, porem ainda ha mais para ser destrinchado para que possamos entender direito os padrões que estão começando a tomar forma, e qual melhor forma de lapidar se n com Machine Learning?

In [12]:
from sklearn.ensemble import RandomForestClassifier

y=train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
x = pd.get_dummies(train_data[features])
x_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(x, y)
predictions = model.predict(x_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!


Explicando um pouco do que foi feito, nesse exemplo foi escolhida o método de machine learning "Floresta Aleatória", que é utilizado para casos tanto de regressão como de classificação de dados. No nosso caso nós utilizamos para Classificação, ou seja, sera feita uma junção de várias diferentes trees para obter um único resultado, que nesse caso será representado pela opção que se repete mais vezes.

Atribuimos também a "Y" a coluna 'Survived' do DataFrame que determina se o passageiro sobreviveu ou não, sendo 1 ou 0, esse é nossa coluna principal, a que queremos prever.

Logo então foi criada a lista "features" que contem os nomes das colunas que serão usadas como referencias para prever a variável principal

Dessa forma é utilizado o método "get_dummies" para converter variáveis como 'Sex' em variáveis indicadoras(Binárias)

Então é criada a instancia do modelo "RandomForestClassifier" com 100 arvores, que é classificado pelo parametro "n_estimators=100" com uma profundidade máxima de 5,  que é classificado pelo parametro "max_depth=5" e a reprodutibilidade que é classificado pelo parametro "random_state=1"

Falando um pouco sobre os parametros vale ressaltar o que exatamente cada um deles representa.

    - n_estimators: especifica quantas arvores de decisão serão criadas, cada uma construida de forma independente.
    - max_depth: é o número de divisões que ocorrem da raiz atpe a folha mais distantes.
    - random_state: Controla a aleatoriedade do processo de treinamento do modelo, ou seja, ele garante que modelos treinados com os mesmos dados dão sempre o mesmo resultado, pois a aleatoriedade no treinamento é controlada.